<h1><%= title%> / Codeial</h1>
<section id="feed-posts">
  <h4>Posts</h4>
  <form id="new-post-form" method="POST" action="">
    <textarea
      name="content"
      cols="30"
      rows="3"
      placeholder="Enter here.."
    ></textarea>
    <input type="submit" value="Post" />
  </form>
</section>
