#home-container {
  display: flex;
  min-height: 557px; }
  #home-container #feed-posts {
    width: 75%;
    padding: 1rem; }
  #home-container #user-friends {
    width: 25%;
    border-left: 1px solid #bebdbd;
    padding: 1rem; }
    #home-container #user-friends #friends {
      margin-bottom: 2rem;
      border-bottom: 1px solid #bebdbd; }
